pip
setuptools
wheel
fastapi
uvicorn
pandas
numpy
scikit-learn
tensorflow
matplotlib
joblib
pydantic
python-multipart
xgboost
reportlab
cryptography
twilio
google-cloud-secret-manager
slowapi
firebase-admin
google-generativeai
opencv-python
pillow
qrcode
prometheus-client
prometheus-fastapi-instrumentator
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
opentelemetry-exporter-otlp
